@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');


body{
    font-family: 'Roboto Slab', serif;
    background-color: rgb(161, 100, 223);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-allign: center;
    margin: 0;
    overflow: hidden;
}