@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');


body{
    font-family: 'Roboto Slab', serif;
    background-color: black;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.btn{
    background-color: rebeccapurple;
    color: white;
    border: 0;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    margin: 1rem;
    padding: 1.5rem 3rem;
    fontsize: 1.2rem;
}

.btn:hover{
    opacity: 0.9;
}